/* App Component Styling */
:host {
  display: block;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
